body{
    font-family: 'Poppins', sans-serif;
    
}

.main{
    display: flex;
    align-items: center;

}

.card{
    background-color: rgb(178, 219, 255);
    height: calc(170*4px);
    width: calc(140*3px);
    border-radius:15px;
}

.photo{
    margin-top:20px;
    display: flex;
    justify-content: space-around;
}

#bulbasaur{
    height: 300px;
    width: 300px;
}

.details{
 
}